In [1]:
import pandas as pd

london_prescriptions_2014 = pd.read_csv('prescriptions/2014/2014.csv')
london_prescriptions_2015 = pd.read_csv('prescriptions/2015/2015.csv')
london_prescriptions_2016 = pd.read_csv('prescriptions/2016/2016.csv')

In [2]:
london_prescriptions_2014

,Unnamed: 0,YEAR_MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,AREA_TEAM_NAME,AREA_TEAM_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,PRACTICE_CODE,...,BNF_CODE,BNF_DESCRIPTION,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED
0,86410,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,0403010B0AAAFAF,Amitriptyline 50mg/5ml oral solution sugar free,04: Central Nervous System,150.0,1,150.0,20.00000,18.21,16.84109,N
1,86411,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,ROSSLYN HILL SURGERY,F83682,...,0403010B0AAAGAG,Amitriptyline 10mg tablets,04: Central Nervous System,56.0,4,224.0,29.86667,6.64,6.18592,N
2,86412,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,0403010B0AAAGAG,Amitriptyline 10mg tablets,04: Central Nervous System,56.0,3,168.0,22.40000,4.98,4.63944,N
3,86413,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,0403010B0AAAGAG,Amitriptyline 10mg tablets,04: Central Nervous System,168.0,1,168.0,22.40000,4.98,4.61464,N
4,86414,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,0403010B0AAAGAG,Amitriptyline 10mg tablets,04: Central Nervous System,28.0,8,224.0,29.86667,6.64,6.23552,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261891,18737382,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,LOWER CLAPTON GROUP PRACTICE,F84003,...,0403040W0AAALAL,Venlafaxine 225mg modified-release tablets,04: Central Nervous System,60.0,1,60.0,135.00000,67.20,62.13398,N
1261892,18737383,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,MEDIAN ROAD RESOURCE CENTRE,Y03626,...,0403040X0AAAJAJ,Mirtazapine 30mg orodispersible tablets,04: Central Nervous System,14.0,1,14.0,14.00000,0.68,0.74101,N
1261893,18737384,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,MEDIAN ROAD RESOURCE CENTRE,Y03626,...,0403040X0AAALAL,Mirtazapine 15mg orodispersible tablets,04: Central Nervous System,14.0,1,14.0,7.00000,0.71,0.76874,N
1261894,18737385,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,MEDIAN ROAD RESOURCE CENTRE,Y03626,...,0403040X0AAANAN,Mirtazapine 15mg tablets,04: Central Nervous System,14.0,1,14.0,7.00000,1.03,1.06456,N
1261895,18737386,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,LOWER CLAPTON GROUP PRACTICE,F84003,...,0403040X0BBADAM,Zispin SolTab 45mg orodispersible tablets,04: Central Nervous System,14.0,2,28.0,42.00000,14.06,13.22226,N

In [3]:
full_postalcode_info = pd.read_csv('C:/users/muize/Downloads/london_postcodes-ons-postcodes-directory-feb22.csv')

In [4]:
postal_code_gss_code = full_postalcode_info[['pcd', 'osward']]

In [5]:
postal_code_gss_code['pcd'] = postal_code_gss_code['pcd'].str.replace(' ', '')

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\3941782938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postal_code_gss_code['pcd'] = postal_code_gss_code['pcd'].str.replace(' ', '')

In [6]:
postal_code_gss_code

           pcd     osward
0       BR11AA  E05000109
1       BR11AB  E05000109
2       BR11AD  E05000109
3       BR11AE  E05000109
4       BR11AF  E05000109
...        ...        ...
326209  WD38UX  E05000330
326210  WD38UZ  E05000330
326211  WD38XD  E05000330
326212  WD62RN  E05000060
326213  WD62RW  E05000060

[326214 rows x 2 columns]

In [7]:
london_prescriptions_2014['POSTCODE'] = london_prescriptions_2014['POSTCODE'].str.replace(' ', '')
london_prescriptions_2015['POSTCODE'] = london_prescriptions_2015['POSTCODE'].str.replace(' ', '')
london_prescriptions_2016['POSTCODE'] = london_prescriptions_2016['POSTCODE'].str.replace(' ', '')

In [8]:
london_prescriptions_2014['POSTCODE']

0          NW11HY
1          NW31PD
2          NW11HY
3          NW11HY
4          NW11HY
            ...
1261891     E50PD
1261892     E96RT
1261893     E96RT
1261894     E96RT
1261895     E50PD
Name: POSTCODE, Length: 1261896, dtype: object

In [9]:
london_prescriptions_2014_ward = london_prescriptions_2014.merge(postal_code_gss_code, left_on='POSTCODE', right_on='pcd', how='left')
london_prescriptions_2015_ward = london_prescriptions_2015.merge(postal_code_gss_code, left_on='POSTCODE', right_on='pcd', how='left')
london_prescriptions_2016_ward = london_prescriptions_2016.merge(postal_code_gss_code, left_on='POSTCODE', right_on='pcd', how='left')

In [10]:
london_prescriptions_2014_ward[london_prescriptions_2014_ward['osward'].isna()]['POSTCODE']

21902      CT47AR
32532      TR12EJ
32533      TR12EJ
32534      CV11FD
32535      CV11FD
            ...
1259582       NaN
1259583       NaN
1259586       NaN
1259587       NaN
1259588       NaN
Name: POSTCODE, Length: 1073, dtype: object

In [11]:
london_prescriptions_2014_ward_edited = london_prescriptions_2014_ward[london_prescriptions_2014_ward['osward'].notna()]
london_prescriptions_2015_ward_edited = london_prescriptions_2015_ward[london_prescriptions_2015_ward['osward'].notna()]
london_prescriptions_2016_ward_edited = london_prescriptions_2016_ward[london_prescriptions_2016_ward['osward'].notna()]

In [12]:
london_prescriptions_2014_ward[london_prescriptions_2014_ward['osward'].isna()]['POSTCODE']

21902      CT47AR
32532      TR12EJ
32533      TR12EJ
32534      CV11FD
32535      CV11FD
            ...
1259582       NaN
1259583       NaN
1259586       NaN
1259587       NaN
1259588       NaN
Name: POSTCODE, Length: 1073, dtype: object

In [13]:
london_prescriptions_2016_ward_edited

,Unnamed: 0,YEAR_MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,AREA_TEAM_NAME,AREA_TEAM_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,PRACTICE_CODE,...,BNF_CHAPTER_PLUS_CODE,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,UNIDENTIFIED,pcd,osward
0,14986,201604,LONDON,Y56,SOUTH LONDON AREA,Q63,LAMBETH CCG,08K00,THE SOUTH LAMBETH RD PRACTICE,G85086,...,04: Central Nervous System,112.0,1,112.0,37.33333,5.68,5.26906,N,SW81UL,E05000429
1,14987,201604,LONDON,Y56,SOUTH LONDON AREA,Q63,LAMBETH CCG,08K00,THE SOUTH LAMBETH RD PRACTICE,G85086,...,04: Central Nervous System,336.0,1,336.0,112.00000,13.92,12.89491,N,SW81UL,E05000429
2,14988,201604,LONDON,Y56,SOUTH LONDON AREA,Q63,LAMBETH CCG,08K00,THE SOUTH LAMBETH RD PRACTICE,G85086,...,04: Central Nervous System,56.0,1,56.0,28.00000,14.93,13.82963,N,SW81UL,E05000429
3,14989,201604,LONDON,Y56,SOUTH LONDON AREA,Q63,LAMBETH CCG,08K00,THE SOUTH LAMBETH RD PRACTICE,G85086,...,04: Central Nervous System,112.0,1,112.0,56.00000,29.86,27.64686,N,SW81UL,E05000429
4,14990,201604,LONDON,Y56,SOUTH LONDON AREA,Q63,LAMBETH CCG,08K00,THE SOUTH LAMBETH RD PRACTICE,G85086,...,04: Central Nervous System,100.0,1,100.0,13.33333,63.01,58.32611,N,SW81UL,E05000429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1295132,18740104,201609,LONDON,Y56,NORTH WEST LONDON AREA,Q62,EALING CCG,07W00,MATTOCK LANE HEALTH CENTRE,E85726,...,04: Central Nervous System,56.0,2,112.0,112.00000,4.76,4.43293,N,W139NZ,E05000192
1295133,18740105,201609,LONDON,Y56,NORTH WEST LONDON AREA,Q62,EALING CCG,07W00,MATTOCK LANE HEALTH CENTRE,E85726,...,04: Central Nervous System,84.0,1,84.0,42.00000,3.69,3.42963,N,W139NZ,E05000192
1295134,18740106,201609,LONDON,Y56,NORTH WEST LONDON AREA,Q62,EALING CCG,07W00,MATTOCK LANE HEALTH CENTRE,E85726,...,04: Central Nervous System,28.0,2,56.0,28.00000,2.46,2.30295,N,W139NZ,E05000192
1295135,18740107,201609,LONDON,Y56,NORTH WEST LONDON AREA,Q62,EALING CCG,07W00,MATTOCK LANE HEALTH CENTRE,E85726,...,04: Central Nervous System,56.0,3,168.0,252.00000,9.00,8.37190,N,W139NZ,E05000192
1295136,18740108,201609,LONDON,Y56,NORTH WEST LONDON AREA,Q62,EALING CCG,07W00,MATTOCK LANE HEALTH CENTRE,E85726,...,04: Central Nervous System,28.0,2,56.0,84.00000,3.00,2.80303,N,W139NZ,E05000192

In [14]:
import numpy as np

(london_prescriptions_2016_ward_edited
 .groupby(["osward"])
 .mean())

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\2126543486.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .mean())

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST
osward,,,,,,,,
E05000026,9.306672e+06,201606.411596,45.489009,3.418923,114.170436,102.251763,11.754696,11.047411
E05000027,8.623218e+06,201606.499518,43.864031,3.691418,105.804243,90.908374,14.971360,14.075942
E05000028,1.032014e+07,201606.916060,44.441932,6.469529,180.205826,157.067535,22.134933,20.874237
E05000029,1.002424e+07,201606.453063,53.669017,4.131335,171.152490,140.413824,17.975937,16.878252
E05000030,1.080815e+07,201606.574271,45.948172,3.606201,128.645534,107.224857,11.550722,10.849505
...,...,...,...,...,...,...,...,...
E05011485,6.690771e+06,201606.465037,47.623218,2.868975,106.183299,96.578230,13.301025,12.466476
E05011486,8.533222e+06,201606.543933,48.565551,4.690725,152.912483,128.911974,14.386032,13.588781
E05011487,8.425272e+06,201606.427330,60.207741,5.392575,221.477883,192.583741,18.147046,17.007537
E05011488,9.391993e+06,201606.593434,45.293826,4.026843,133.018996,110.287214,13.672878,12.875437
E05011489,8.319956e+06,201606.699365,52.501906,4.644219,169.681576,149.159903,16.618790,15.641568

In [15]:
(london_prescriptions_2015_ward_edited
 .groupby(["osward"])
 .mean())

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\2380707388.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .mean())

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST
osward,,,,,,,,
E05000026,7.907756e+06,201506.594708,46.368506,3.593095,124.065828,108.672609,14.630975,13.682370
E05000027,1.054764e+07,201506.660340,43.586414,3.422577,104.988012,91.025758,15.981389,14.946242
E05000028,9.610883e+06,201506.055861,42.518409,5.418536,156.419382,132.088627,19.928151,18.714475
E05000029,9.198345e+06,201505.874399,56.047358,3.636925,159.187028,131.511805,17.152759,16.065072
E05000030,1.114634e+07,201506.520678,45.765820,3.589437,127.197309,104.646479,12.527255,11.730939
...,...,...,...,...,...,...,...,...
E05011485,8.546361e+06,201506.583031,49.575054,2.920232,108.741842,99.488917,14.415149,13.474287
E05011486,8.877296e+06,201506.223587,45.780713,4.261364,141.894349,116.322003,16.749681,15.718045
E05011487,1.299951e+07,201506.518082,58.541667,4.913522,212.838836,182.769634,19.376557,18.080075
E05011488,8.271741e+06,201506.537363,46.965495,4.222857,141.194945,112.780762,14.124147,13.282207
E05011489,9.835902e+06,201506.521025,52.768588,5.012531,188.653578,164.907484,21.983420,20.594882

In [16]:
(london_prescriptions_2014_ward_edited
 .groupby(["osward"])
 .mean())

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\1510744043.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .mean())

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST
osward,,,,,,,,
E05000026,7.727945e+06,201406.655172,43.708433,3.021509,101.766132,91.506387,13.057924,12.226234
E05000027,6.645246e+06,201406.630072,41.914081,3.239857,101.464200,92.343497,16.245322,15.194730
E05000028,7.896718e+06,201406.568876,45.090643,4.640351,153.201105,132.125357,20.418249,19.141092
E05000029,6.364380e+06,201406.578567,55.801849,3.504333,154.858463,126.862331,20.715254,19.370853
E05000030,5.194619e+06,201406.500748,46.249377,3.611970,127.256359,106.056347,13.366788,12.520916
...,...,...,...,...,...,...,...,...
E05011485,9.617680e+06,201406.515789,52.022556,2.768421,108.809023,96.274712,13.439707,12.576244
E05011486,9.830028e+06,201406.496355,44.844853,4.183144,137.571887,110.444760,16.196445,15.228017
E05011487,9.164363e+06,201406.522377,58.898148,4.870370,194.138889,159.914686,19.161644,17.977736
E05011488,1.008472e+07,201406.507720,47.495189,4.076527,137.937570,108.462913,13.499382,12.718264
E05011489,9.586646e+06,201406.447877,51.629232,4.583557,168.022031,143.510754,19.669457,18.463692

In [17]:
ward_list = list(london_prescriptions_2016_ward_edited['osward'].unique())

In [18]:
london_prescriptions_2015_ward_edited = london_prescriptions_2015_ward_edited[london_prescriptions_2015_ward_edited['osward'].isin(ward_list)]

In [19]:
london_prescriptions_2014_ward_edited = london_prescriptions_2014_ward_edited[london_prescriptions_2014_ward_edited['osward'].isin(ward_list)]

In [20]:
(london_prescriptions_2014_ward_edited
 .groupby(["osward"])
 .mean())

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\1510744043.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .mean())

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST
osward,,,,,,,,
E05000026,7.727945e+06,201406.655172,43.708433,3.021509,101.766132,91.506387,13.057924,12.226234
E05000027,6.645246e+06,201406.630072,41.914081,3.239857,101.464200,92.343497,16.245322,15.194730
E05000028,7.896718e+06,201406.568876,45.090643,4.640351,153.201105,132.125357,20.418249,19.141092
E05000029,6.364380e+06,201406.578567,55.801849,3.504333,154.858463,126.862331,20.715254,19.370853
E05000030,5.194619e+06,201406.500748,46.249377,3.611970,127.256359,106.056347,13.366788,12.520916
...,...,...,...,...,...,...,...,...
E05011485,9.617680e+06,201406.515789,52.022556,2.768421,108.809023,96.274712,13.439707,12.576244
E05011486,9.830028e+06,201406.496355,44.844853,4.183144,137.571887,110.444760,16.196445,15.228017
E05011487,9.164363e+06,201406.522377,58.898148,4.870370,194.138889,159.914686,19.161644,17.977736
E05011488,1.008472e+07,201406.507720,47.495189,4.076527,137.937570,108.462913,13.499382,12.718264
E05011489,9.586646e+06,201406.447877,51.629232,4.583557,168.022031,143.510754,19.669457,18.463692

In [21]:
ward_statistics = pd.read_csv('C:/users/muize/Downloads/ward-atlas-data.csv', encoding= 'unicode_escape', header=[0,1])

In [22]:
list(ward_statistics.columns)

[('Unnamed: 0_level_0', 'Codes'),
 ('Unnamed: 1_level_0', 'New Code'),
 ('Unnamed: 2_level_0', 'Borough'),
 ('Unnamed: 3_level_0', 'Names'),
 ('Population and Age; Population Estimates and Projections; 2001', '2001'),
 ('Population and Age; Population Estimates and Projections; 2006', '2006'),
 ('Population and Age; Population Estimates and Projections; 2011', '2011'),
 ('Population and Age; Population Estimates and Projections; 2013', '2013'),
 ('Population and Age; Population Estimates and Projections; 2014', '2014'),
 ('Population and Age; Population Estimates and Projections; 2015', '2015'),
 ('Population and Age; Population Estimates and Projections; 2016', '2016'),
 ('Population and Age; Population Estimates and Projections; 2018', '2018'),
 ('Population and Age; Population Estimates and Projections; 2023', '2023'),
 ('Population and Age; Population Estimates and Projections; 2028', '2028'),
 ('Population and Age; Age structure (percentage) - 2013; Aged 0-15',
  'Aged 0-15'),
 ('Population and Age; Age structure (percentage) - 2013; Aged 16-64',
  'Aged 16-64'),
 ('Population and Age; Age structure (percentage) - 2013; Aged 65+',
  'Aged 65+'),
 ('Population and Age; Aged 0-15; 2002', '2002'),
 ('Population and Age; Aged 0-15; 2004', '2004'),
 ('Population and Age; Aged 0-15; 2006', '2006'),
 ('Population and Age; Aged 0-15; 2008', '2008'),
 ('Population and Age; Aged 0-15; 2010', '2010'),
 ('Population and Age; Aged 0-15; 2011', '2011'),
 ('Population and Age; Aged 0-15; 2012', '2012'),
 ('Population and Age; Aged 0-15; 2013', '2013'),
 ('Population and Age; Aged 16-64; 2002', '2002'),
 ('Population and Age; Aged 16-64; 2004', '2004'),
 ('Population and Age; Aged 16-64; 2006', '2006'),
 ('Population and Age; Aged 16-64; 2008', '2008'),
 ('Population and Age; Aged 16-64; 2010', '2010'),
 ('Population and Age; Aged 16-64; 2011', '2011'),
 ('Population and Age; Aged 16-64; 2012', '2012'),
 ('Population and Age; Aged 16-64; 2013', '2013'),
 ('Population and Age; Aged 65+; 2002', '2002'),
 ('Population and Age; Aged 65+; 2004', '2004'),
 ('Population and Age; Aged 65+; 2006', '2006'),
 ('Population and Age; Aged 65+; 2008', '2008'),
 ('Population and Age; Aged 65+; 2010', '2010'),
 ('Population and Age; Aged 65+; 2011', '2011'),
 ('Population and Age; Aged 65+; 2012', '2012'),
 ('Population and Age; Aged 65+; 2013', '2013'),
 ('Population and Age; All ages; 2002', '2002'),
 ('Population and Age; All ages; 2004', '2004'),
 ('Population and Age; All ages; 2006', '2006'),
 ('Population and Age; All ages; 2008', '2008'),
 ('Population and Age; All ages; 2010', '2010'),
 ('Population and Age; All ages; 2011', '2011'),
 ('Population and Age; All ages; 2012', '2012'),
 ('Population and Age; All ages; 2013', '2013'),
 ('Population and Age; Mean age; 2002', '2002'),
 ('Population and Age; Mean age; 2004', '2004'),
 ('Population and Age; Mean age; 2006', '2006'),
 ('Population and Age; Mean age; 2008', '2008'),
 ('Population and Age; Mean age; 2010', '2010'),
 ('Population and Age; Mean age; 2011', '2011'),
 ('Population and Age; Mean age; 2012', '2012'),
 ('Population and Age; Mean age; 2013', '2013'),
 ('Population and Age; Median age; 2002', '2002'),
 ('Population and Age; Median age; 2004', '2004'),
 ('Population and Age; Median age; 2006', '2006'),
 ('Population and Age; Median age; 2008', '2008'),
 ('Population and Age; Median age; 2010', '2010'),
 ('Population and Age; Median age; 2011', '2011'),
 ('Population and Age; Median age; 2012', '2012'),
 ('Population and Age; Median age; 2013', '2013'),
 ('Area and Density; Area; Hectares', 'Hectares'),
 ('Area and Density; Area; Square Kilometres', 'Square Kilometres'),
 ('Area and Density; Population density (persons per sq km); 2001 (Census)',
  '2001 (Census)'),
 ('Area and Density; Population density (persons per sq km); 2006', '2006'),
 ('Area and Density; Population density (persons per sq km); 2011 (Census)',
  '2011 (Census)'),
 ('Area and Density; Population density (persons per sq km); 2013', '2013'),
 ('Area and Density; Population density (persons per sq km); 2018', '2018'),
 ('Area and Density; Population density (persons per sq km); 2023', '2023'),
 ('Area and Density; Population density (persons per sq km); 2028', '2028'),
 ('Diversity; Ethnic Group 5 groups - 2011 Census; White', 'White'),
 ('Diversity; Ethnic Group 5 groups - 2011 Census; Mixed', 'Mixed'),
 ('Diversity; Ethnic Group 5 groups - 2011 Census; Asian or Asian British',
  'Asian or Asian British'),
 ('Diversity; Ethnic Group 5 groups - 2011 Census; Black or Black British',
  'Black or Black British'),
 ('Diversity; Ethnic Group 5 groups - 2011 Census; Other', 'Other'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; White British',
  'White British'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; White Irish',
  'White Irish'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; White Gypsy or Irish Traveller',
  'White Gypsy or Irish Traveller'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Other White',
  'Other White'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Mixed White and Black Caribbean',
  'Mixed White and Black Caribbean'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Mixed White and Black African',
  'Mixed White and Black African'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Mixed White and Asian',
  'Mixed White and Asian'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Other Mixed',
  'Other Mixed'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Indian', 'Indian'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Pakistani', 'Pakistani'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Bangladeshi',
  'Bangladeshi'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Chinese', 'Chinese'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Other Asian',
  'Other Asian'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Black Caribbean',
  'Black Caribbean'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Black African',
  'Black African'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Other Black',
  'Other Black'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Arab', 'Arab'),
 ('Diversity; Ethnic Group 18 groups - 2011 Census; Other Ethnic Group',
  'Other Ethnic Group'),
 ('Diversity; Religion - 2011 Census; Christian', 'Christian'),
 ('Diversity; Religion - 2011 Census; Buddhist', 'Buddhist'),
 ('Diversity; Religion - 2011 Census; Hindu', 'Hindu'),
 ('Diversity; Religion - 2011 Census; Jewish', 'Jewish'),
 ('Diversity; Religion - 2011 Census; Muslim', 'Muslim'),
 ('Diversity; Religion - 2011 Census; Sikh', 'Sikh'),
 ('Diversity; Religion - 2011 Census; Other religions', 'Other religions'),
 ('Diversity; Religion - 2011 Census; No religion', 'No religion'),
 ('Diversity; Religion - 2011 Census; Religion not stated',
  'Religion not stated'),
 ('Diversity; Country of Birth - 2011 Census; Born in UK', 'Born in UK'),
 ('Diversity; Country of Birth - 2011 Census; Not Born in UK',
  'Not Born in UK'),
 ('Diversity; Household Language - 2011 Census; No people in household have English as a main language',
  'No people in household have English as a main language'),
 ('Diversity; Household Language - 2011 Census; At least 1 person in household has English as a main language',
  'At least 1 person in household has English as a main language'),
 ('Household composition; Household composition - 2001 Census; All Households',
  'All Households'),
 ('Household composition; Household composition - 2001 Census; Couple household with dependent children',
  'Couple household with dependent children'),
 ('Household composition; Household composition - 2001 Census; Couple household without dependent children',
  'Couple household without dependent children'),
 ('Household composition; Household composition - 2001 Census; Lone parent household',
  'Lone parent household'),
 ('Household composition; Household composition - 2001 Census; One person household',
  'One person household'),
 ('Household composition; Household composition - 2001 Census; Other multi person household',
  'Other multi person household'),
 ('Household composition; Household composition - 2011 Census; All Households',
  'All Households'),
 ('Household composition; Household composition - 2011 Census; Couple household with dependent children',
  'Couple household with dependent children'),
 ('Household composition; Household composition - 2011 Census; Couple household without dependent children',
  'Couple household without dependent children'),
 ('Household composition; Household composition - 2011 Census; Lone parent household',
  'Lone parent household'),
 ('Household composition; Household composition - 2011 Census; One person household',
  'One person household'),
 ('Household composition; Household composition - 2011 Census; Other multi person household',
  'Other multi person household'),
 ('Births and deaths; Births; 2002', '2002'),
 ('Births and deaths; Births; 2003', '2003'),
 ('Births and deaths; Births; 2004', '2004'),
 ('Births and deaths; Births; 2005', '2005'),
 ('Births and deaths; Births; 2006', '2006'),
 ('Births and deaths; Births; 2007', '2007'),
 ('Births and deaths; Births; 2008', '2008'),
 ('Births and deaths; Births; 2009', '2009'),
 ('Births and deaths; Births; 2010', '2010'),
 ('Births and deaths; Births; 2011', '2011'),
 ('Births and deaths; Births; 2012', '2012'),
 ('Births and deaths; Births; 2013', '2013'),
 ('Births and deaths; General Fertility Rate (GFR); 2002', '2002'),
 ('Births and deaths; General Fertility Rate (GFR); 2003', '2003'),
 ('Births and deaths; General Fertility Rate (GFR); 2004', '2004'),
 ('Births and deaths; General Fertility Rate (GFR); 2005', '2005'),
 ('Births and deaths; General Fertility Rate (GFR); 2006', '2006'),
 ('Births and deaths; General Fertility Rate (GFR); 2007', '2007'),
 ('Births and deaths; General Fertility Rate (GFR); 2008', '2008'),
 ('Births and deaths; General Fertility Rate (GFR); 2009', '2009'),
 ('Births and deaths; General Fertility Rate (GFR); 2010', '2010'),
 ('Births and deaths; General Fertility Rate (GFR); 2011', '2011'),
 ('Births and deaths; General Fertility Rate (GFR); 2012', '2012'),
 ('Births and deaths; General Fertility Rate (GFR); 2013', '2013'),
 ('Births and deaths; Deaths; 2002', '2002'),
 ('Births and deaths; Deaths; 2003', '2003'),
 ('Births and deaths; Deaths; 2004', '2004'),
 ('Births and deaths; Deaths; 2005', '2005'),
 ('Births and deaths; Deaths; 2006', '2006'),
 ('Births and deaths; Deaths; 2007', '2007'),
 ('Births and deaths; Deaths; 2008', '2008'),
 ('Births and deaths; Deaths; 2009', '2009'),
 ('Births and deaths; Deaths; 2010', '2010'),
 ('Births and deaths; Deaths; 2011', '2011'),
 ('Births and deaths; Deaths; 2012', '2012'),
 ('Births and deaths; Deaths; 2013', '2013'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2002', '2002'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2003', '2003'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2004', '2004'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2005', '2005'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2006', '2006'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2007', '2007'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2008', '2008'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2009', '2009'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2010', '2010'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2011', '2011'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2012', '2012'),
 ('Births and deaths; Standardised Mortality Ratio (SMR); 2013', '2013'),
 ('Life Expectancy; Male life expectancy; 1999-2003', '1999-2003'),
 ('Life Expectancy; Male life expectancy; 2000-2004', '2000-2004'),
 ('Life Expectancy; Male life expectancy; 2001-2005', '2001-2005'),
 ('Life Expectancy; Male life expectancy; 2002-2006', '2002-2006'),
 ('Life Expectancy; Male life expectancy; 2003-2007', '2003-2007'),
 ('Life Expectancy; Male life expectancy; 2004-2008', '2004-2008'),
 ('Life Expectancy; Male life expectancy; 2005-2009', '2005-2009'),
 ('Life Expectancy; Male life expectancy; 2006-2010', '2006-2010'),
 ('Life Expectancy; Male life expectancy; 2007-2011', '2007-2011'),
 ('Life Expectancy; Male life expectancy; 2008-2012', '2008-2012'),
 ('Life Expectancy; Male life expectancy; 2009-2013', '2009-2013'),
 ('Life Expectancy; Female life expectancy; 1999-2003', '1999-2003'),
 ('Life Expectancy; Female life expectancy; 2000-2004', '2000-2004'),
 ('Life Expectancy; Female life expectancy; 2001-2005', '2001-2005'),
 ('Life Expectancy; Female life expectancy; 2002-2006', '2002-2006'),
 ('Life Expectancy; Female life expectancy; 2003-2007', '2003-2007'),
 ('Life Expectancy; Female life expectancy; 2004-2008', '2004-2008'),
 ('Life Expectancy; Female life expectancy; 2005-2009', '2005-2009'),
 ('Life Expectancy; Female life expectancy; 2006-2010', '2006-2010'),
 ('Life Expectancy; Female life expectancy; 2007-2011', '2007-2011'),
 ('Life Expectancy; Female life expectancy; 2008-2012', '2008-2012'),
 ('Life Expectancy; Female life expectancy; 2009-2013', '2009-2013'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2002-2006',
  '2002-2006'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2003-2007',
  '2003-2007'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2004-2008',
  '2004-2008'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2005-2009',
  '2005-2009'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2006-2010',
  '2006-2010'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2007-2011',
  '2007-2011'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2008-2012',
  '2008-2012'),
 ('Life Expectancy; Life expectancy at birth (all persons); 2009-2013',
  '2009-2013'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2002-2006',
  '2002-2006'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2003-2007',
  '2003-2007'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2004-2008',
  '2004-2008'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2005-2009',
  '2005-2009'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2006-2010',
  '2006-2010'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2007-2011',
  '2007-2011'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2008-2012',
  '2008-2012'),
 ('Life Expectancy; Life expectancy at age 65 (all persons); 2009-2013',
  '2009-2013'),
 ('Housing type and Tenure; All dwellings - 2011 Census; ',
  'Unnamed: 208_level_1'),
 ('Housing type and Tenure; All Household spaces - 2011 Census; ',
  'Unnamed: 209_level_1'),
 ('Housing type and Tenure; Vacant Household Spaces; Household spaces with at least one usual resident %',
  'Household spaces with at least one usual resident %'),
 ('Housing type and Tenure; Vacant Household Spaces; Household spaces with no usual residents %',
  'Household spaces with no usual residents %'),
 ('Housing type and Tenure; Accomodation Type - 2011 Census; Whole house or bungalow: Detached',
  'Whole house or bungalow: Detached'),
 ('Housing type and Tenure; Accomodation Type - 2011 Census; Whole house or bungalow: Semi-detached',
  'Whole house or bungalow: Semi-detached'),
 ('Housing type and Tenure; Accomodation Type - 2011 Census; Whole house or bungalow: Terraced',
  'Whole house or bungalow: Terraced'),
 ('Housing type and Tenure; Accomodation Type - 2011 Census; Flat, maisonette or apartment',
  'Flat, maisonette or apartment'),
 ('Housing type and Tenure; Tenure of households - 2001 Census; Owned: Owned outright',
  'Owned: Owned outright'),
 ('Housing type and Tenure; Tenure of households - 2001 Census; Owned: Owned with a mortgage or loan (inc shared)',
  'Owned: Owned with a mortgage or loan (inc shared)'),
 ('Housing type and Tenure; Tenure of households - 2001 Census; Social rented',
  'Social rented'),
 ('Housing type and Tenure; Tenure of households - 2001 Census; Private rented',
  'Private rented'),
 ('Housing type and Tenure; Tenure of households - 2001 Census; Other',
  'Other'),
 ('Housing type and Tenure; Tenure of households - 2011 Census; Owned: Owned outright',
  'Owned: Owned outright'),
 ('Housing type and Tenure; Tenure of households - 2011 Census; Owned: Owned with a mortgage or loan (inc shared)',
  'Owned: Owned with a mortgage or loan (inc shared)'),
 ('Housing type and Tenure; Tenure of households - 2011 Census; Social rented',
  'Social rented'),
 ('Housing type and Tenure; Tenure of households - 2011 Census; Private rented',
  'Private rented'),
 ('Housing type and Tenure; Tenure of households - 2011 Census; Rent Free',
  'Rent Free'),
 ('Home repossessions; Mortgage Repossession Orders - 2011; ',
  'Unnamed: 226_level_1'),
 ('Home repossessions; Landlord Repossession Orders - 2011; ',
  'Unnamed: 227_level_1'),
 ('House Prices; Median House Price; 1995', '1995'),
 ('House Prices; Median House Price; 1996', '1996'),
 ('House Prices; Median House Price; 1997', '1997'),
 ('House Prices; Median House Price; 1998', '1998'),
 ('House Prices; Median House Price; 1999', '1999'),
 ('House Prices; Median House Price; 2000', '2000'),
 ('House Prices; Median House Price; 2001', '2001'),
 ('House Prices; Median House Price; 2002', '2002'),
 ('House Prices; Median House Price; 2003', '2003'),
 ('House Prices; Median House Price; 2004', '2004'),
 ('House Prices; Median House Price; 2005', '2005'),
 ('House Prices; Median House Price; 2006', '2006'),
 ('House Prices; Median House Price; 2007', '2007'),
 ('House Prices; Median House Price; 2008', '2008'),
 ('House Prices; Median House Price; 2009', '2009'),
 ('House Prices; Median House Price; 2010', '2010'),
 ('House Prices; Median House Price; 2011', '2011'),
 ('House Prices; Median House Price; 2012', '2012'),
 ('House Prices; Median House Price; 2013', '2013'),
 ('House Prices; Median House Price; 2014', '2014'),
 ('House Prices; Number of properties sold; 2000', '2000'),
 ('House Prices; Number of properties sold; 2001', '2001'),
 ('House Prices; Number of properties sold; 2002', '2002'),
 ('House Prices; Number of properties sold; 2003', '2003'),
 ('House Prices; Number of properties sold; 2004', '2004'),
 ('House Prices; Number of properties sold; 2005', '2005'),
 ('House Prices; Number of properties sold; 2006', '2006'),
 ('House Prices; Number of properties sold; 2007', '2007'),
 ('House Prices; Number of properties sold; 2008', '2008'),
 ('House Prices; Number of properties sold; 2009', '2009'),
 ('House Prices; Number of properties sold; 2010', '2010'),
 ('House Prices; Number of properties sold; 2011', '2011'),
 ('House Prices; Number of properties sold; 2012', '2012'),
 ('House Prices; Number of properties sold; 2013', '2013'),
 ('House Prices; Number of properties sold; 2014', '2014'),
 ('House Prices; % of dwellings sold during year; 2007', '2007'),
 ('House Prices; % of dwellings sold during year; 2008', '2008'),
 ('House Prices; % of dwellings sold during year; 2009', '2009'),
 ('House Prices; % of dwellings sold during year; 2010', '2010'),
 ('House Prices; % of dwellings sold during year; 2011', '2011'),
 ('House Prices; % of dwellings sold during year; 2012', '2012'),
 ('House Prices; % of dwellings sold during year; 2013', '2013'),
 ('House Prices; % of dwellings sold during year; 2014', '2014'),
 ('Dwellings and Council tax; Number of dwellings (on council tax register); 2001',
  '2001'),
 ('Dwellings and Council tax; Number of dwellings (on council tax register); 2002',
  '2002'),
 ('Dwellings and Council tax; Number of dwellings (on council tax register); 2003',
  '2003'),
 ('Dwellings and Council tax; Number of dwellings (on council tax register); 2004',
  '2004'),

In [23]:
ward_statistics_confounders = ward_statistics[[('Unnamed: 1_level_0', 'New Code'), 
('Population and Age; Age structure (percentage) - 2013; Aged 0-15','Aged 0-15'), 
('Population and Age; Age structure (percentage) - 2013; Aged 16-64', 'Aged 16-64'), 
('Population and Age; Age structure (percentage) - 2013; Aged 65+', 'Aged 65+'), 
('Workplace employment; Number of Full-time employees; 2013', '2013'), 
('Workplace employment; Number of Part-time employees; 2013', '2013'),
('Access to green space and nature; % area that is greenspace; 2014', '2014'),
('Access to green space and nature; % homes with deficiency in access to nature; 2012','2012'),
('Benefits claimants; DWP Working-age client group (rates); 2014', '2014'),
('Benefits claimants; Employment and support allowance claimants; 2014','2014'),  
('Benefits claimants; Housing Benefit rates; 2014', '2014'),
('Benefits claimants; Income Support Claimants; 2014', '2014'),
('Benefits claimants; Incapacity Benefit Claimants; 2014', '2014'),
('Jobseekers Allowance; JSA Claimant Rate; 2014', '2014')]]

In [24]:
ward_statistics_confounders

,Unnamed: 1_level_0,Population and Age; Age structure (percentage) - 2013; Aged 0-15,Population and Age; Age structure (percentage) - 2013; Aged 16-64,Population and Age; Age structure (percentage) - 2013; Aged 65+,Workplace employment; Number of Full-time employees; 2013,Workplace employment; Number of Part-time employees; 2013,Access to green space and nature; % area that is greenspace; 2014,Access to green space and nature; % homes with deficiency in access to nature; 2012,Benefits claimants; DWP Working-age client group (rates); 2014,Benefits claimants; Employment and support allowance claimants; 2014,Benefits claimants; Housing Benefit rates; 2014,Benefits claimants; Income Support Claimants; 2014,Benefits claimants; Incapacity Benefit Claimants; 2014,Jobseekers Allowance; JSA Claimant Rate; 2014
,New Code,Aged 0-15,Aged 16-64,Aged 65+,2013,2013,2014,2012,2014,2014,2014,2014,2014,2014
0,E09000001,7.500000,77.500000,15.000000,329200.0,48700.0,18.629014,100.000000,5.1,120,6.371429,30,30,1.768173
1,E05000026,25.274725,69.963370,5.128205,6300.0,3000.0,21.908601,2.164412,15.1,415,18.747475,255,75,6.236244
2,E05000027,25.961538,63.461538,10.576923,500.0,500.0,20.621849,71.727362,20.7,490,19.271523,335,115,5.369551
3,E05000028,24.896266,66.390041,9.128631,600.0,700.0,1.885448,17.166271,17.8,535,16.010204,290,105,5.981075
4,E05000029,24.137931,60.591133,15.270936,1000.0,800.0,55.974507,63.592351,19.4,370,15.653333,265,85,5.201417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,E05000648,21.235521,69.884170,9.266409,2900.0,800.0,19.239428,13.380409,17.8,860,23.720238,430,235,4.571904
624,E05000649,8.675799,80.365297,10.958904,158100.0,48100.0,3.861082,13.568087,8.9,355,9.507111,105,95,2.048880
625,E12000007,19.823875,68.815157,11.360375,3363893.0,1218343.0,39.060000,26.301787,11.5,257690,12.623533,127720,58690,3.578837
626,E92000001,18.953092,63.772169,17.274738,16048928.0,7582991.0,NaN,NaN,12.5,1759210,9.979203,718560,298450,3.419156
627,K04000001,18.891982,64.062301,17.045716,16818021.0,8000761.0,NaN,NaN,12.7,1897950,9.988677,767780,324270,3.459800

In [25]:
ward_statistics_confounders.set_index(('Unnamed: 1_level_0', 'New Code'), inplace=True)

In [26]:
london_prescriptions_2014_ward_confounders = london_prescriptions_2014_ward_edited.merge(ward_statistics_confounders, how='left', left_on='osward', right_index=True)

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\2042498919.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  london_prescriptions_2014_ward_confounders = london_prescriptions_2014_ward_edited.merge(ward_statistics_confounders, how='left', left_on='osward', right_index=True)

In [27]:
london_prescriptions_2015_ward_confounders = london_prescriptions_2015_ward_edited.merge(ward_statistics_confounders, how='left', left_on='osward', right_index=True)

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\3239353893.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  london_prescriptions_2015_ward_confounders = london_prescriptions_2015_ward_edited.merge(ward_statistics_confounders, how='left', left_on='osward', right_index=True)

In [28]:
london_prescriptions_2016_ward_confounders = london_prescriptions_2016_ward_edited.merge(ward_statistics_confounders, how='left', left_on='osward', right_index=True)

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\2128092842.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  london_prescriptions_2016_ward_confounders = london_prescriptions_2016_ward_edited.merge(ward_statistics_confounders, how='left', left_on='osward', right_index=True)

In [29]:
(london_prescriptions_2014_ward_confounders
 .groupby(["osward"])
 .mean())

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\2954231195.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  .mean())

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,"(Population and Age; Age structure (percentage) - 2013; Aged 0-15, Aged 0-15)","(Population and Age; Age structure (percentage) - 2013; Aged 16-64, Aged 16-64)",...,"(Workplace employment; Number of Full-time employees; 2013, 2013)","(Workplace employment; Number of Part-time employees; 2013, 2013)","(Access to green space and nature; % area that is greenspace; 2014, 2014)","(Access to green space and nature; % homes with deficiency in access to nature; 2012, 2012)","(Benefits claimants; DWP Working-age client group (rates); 2014, 2014)","(Benefits claimants; Employment and support allowance claimants; 2014, 2014)","(Benefits claimants; Housing Benefit rates; 2014, 2014)","(Benefits claimants; Income Support Claimants; 2014, 2014)","(Benefits claimants; Incapacity Benefit Claimants; 2014, 2014)","(Jobseekers Allowance; JSA Claimant Rate; 2014, 2014)"
osward,,,,,,,,,,,,,,,,,,,,,
E05000026,7.727945e+06,201406.655172,43.708433,3.021509,101.766132,91.506387,13.057924,12.226234,25.274725,69.963370,...,6300.0,3000.0,21.908601,2.164412,15.1,415.0,18.747475,255.0,75.0,6.236244
E05000027,6.645246e+06,201406.630072,41.914081,3.239857,101.464200,92.343497,16.245322,15.194730,25.961538,63.461538,...,500.0,500.0,20.621849,71.727362,20.7,490.0,19.271523,335.0,115.0,5.369551
E05000028,7.896718e+06,201406.568876,45.090643,4.640351,153.201105,132.125357,20.418249,19.141092,24.896266,66.390041,...,600.0,700.0,1.885448,17.166271,17.8,535.0,16.010204,290.0,105.0,5.981075
E05000029,6.364380e+06,201406.578567,55.801849,3.504333,154.858463,126.862331,20.715254,19.370853,24.137931,60.591133,...,1000.0,800.0,55.974507,63.592351,19.4,370.0,15.653333,265.0,85.0,5.201417
E05000030,5.194619e+06,201406.500748,46.249377,3.611970,127.256359,106.056347,13.366788,12.520916,20.283019,65.094340,...,3100.0,900.0,50.434179,0.000000,14.7,320.0,12.368098,185.0,70.0,4.638395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E05011485,9.617680e+06,201406.515789,52.022556,2.768421,108.809023,96.274712,13.439707,12.576244,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E05011486,9.830028e+06,201406.496355,44.844853,4.183144,137.571887,110.444760,16.196445,15.228017,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E05011487,9.164363e+06,201406.522377,58.898148,4.870370,194.138889,159.914686,19.161644,17.977736,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E05011488,1.008472e+07,201406.507720,47.495189,4.076527,137.937570,108.462913,13.499382,12.718264,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E05011489,9.586646e+06,201406.447877,51.629232,4.583557,168.022031,143.510754,19.669457,18.463692,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
grouped_mean = london_prescriptions_2014_ward_confounders.groupby(["osward"]).mean()
grouped_mean_no_nan = grouped_mean.dropna()

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\2014821003.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_mean = london_prescriptions_2014_ward_confounders.groupby(["osward"]).mean()

In [31]:
grouped_mean_no_nan

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,"(Population and Age; Age structure (percentage) - 2013; Aged 0-15, Aged 0-15)","(Population and Age; Age structure (percentage) - 2013; Aged 16-64, Aged 16-64)",...,"(Workplace employment; Number of Full-time employees; 2013, 2013)","(Workplace employment; Number of Part-time employees; 2013, 2013)","(Access to green space and nature; % area that is greenspace; 2014, 2014)","(Access to green space and nature; % homes with deficiency in access to nature; 2012, 2012)","(Benefits claimants; DWP Working-age client group (rates); 2014, 2014)","(Benefits claimants; Employment and support allowance claimants; 2014, 2014)","(Benefits claimants; Housing Benefit rates; 2014, 2014)","(Benefits claimants; Income Support Claimants; 2014, 2014)","(Benefits claimants; Incapacity Benefit Claimants; 2014, 2014)","(Jobseekers Allowance; JSA Claimant Rate; 2014, 2014)"
osward,,,,,,,,,,,,,,,,,,,,,
E05000026,7.727945e+06,201406.655172,43.708433,3.021509,101.766132,91.506387,13.057924,12.226234,25.274725,69.963370,...,6300.0,3000.0,21.908601,2.164412,15.1,415.0,18.747475,255.0,75.0,6.236244
E05000027,6.645246e+06,201406.630072,41.914081,3.239857,101.464200,92.343497,16.245322,15.194730,25.961538,63.461538,...,500.0,500.0,20.621849,71.727362,20.7,490.0,19.271523,335.0,115.0,5.369551
E05000028,7.896718e+06,201406.568876,45.090643,4.640351,153.201105,132.125357,20.418249,19.141092,24.896266,66.390041,...,600.0,700.0,1.885448,17.166271,17.8,535.0,16.010204,290.0,105.0,5.981075
E05000029,6.364380e+06,201406.578567,55.801849,3.504333,154.858463,126.862331,20.715254,19.370853,24.137931,60.591133,...,1000.0,800.0,55.974507,63.592351,19.4,370.0,15.653333,265.0,85.0,5.201417
E05000030,5.194619e+06,201406.500748,46.249377,3.611970,127.256359,106.056347,13.366788,12.520916,20.283019,65.094340,...,3100.0,900.0,50.434179,0.000000,14.7,320.0,12.368098,185.0,70.0,4.638395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E05000645,1.219918e+07,201407.058824,56.274740,4.370242,158.930796,145.831280,23.804415,22.288302,10.843373,74.096386,...,1600.0,800.0,32.385809,100.000000,7.1,250.0,11.707188,95.0,65.0,2.700540
E05000646,1.050783e+07,201406.466772,43.319620,5.674051,150.016614,139.802136,21.339066,20.143739,14.077670,72.815534,...,21300.0,4900.0,26.353986,40.666082,10.2,490.0,13.605829,140.0,100.0,3.549246
E05000647,1.075178e+07,201405.910796,60.143717,5.121062,178.235044,155.226144,29.255154,27.416511,10.994764,76.963351,...,19100.0,4700.0,4.022371,30.772045,7.8,325.0,11.901457,115.0,95.0,2.980753
E05000648,1.114472e+07,201406.511275,52.930869,3.486137,128.106470,112.821306,14.441919,13.555243,21.235521,69.884170,...,2900.0,800.0,19.239428,13.380409,17.8,860.0,23.720238,430.0,235.0,4.571904
E05000649,1.117487e+07,201406.542614,47.083807,2.683712,96.738163,98.202107,16.435999,15.373183,8.675799,80.365297,...,158100.0,48100.0,3.861082,13.568087,8.9,355.0,9.507111,105.0,95.0,2.048880

# Import cultural facilities

In [32]:
import seaborn as sns
import pandas as pd
import libpysal as ps
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
arts_centers = pd.read_csv('data/Arts_centres.csv')
print(arts_centers)
arts_count = arts_centers['ward_2018_code'].value_counts().reset_index()
arts_count.columns = ['ward', 'arts_count']

cinemas = pd.read_csv('data/Cinemas.csv')
cinemas_count = cinemas['ward_2018_code'].value_counts().reset_index()
cinemas_count.columns = ['ward', 'cinema_count']

galleries = pd.read_csv('data/Commercial_galleries.csv')
gallery_count = galleries['ward_2018_code'].value_counts().reset_index()
gallery_count.columns = ['ward', 'gallery_count']

comm_centre = pd.read_csv('data/Community_centres.csv')
comm_centre_count = comm_centre['ward_2018_code'].value_counts().reset_index()
comm_centre_count.columns = ['ward', 'comm_center_count']

dance = pd.read_csv('data/Dance_performance_venues.csv')
dance_count = dance['ward_2018_code'].value_counts().reset_index()
dance_count.columns = ['ward', 'dance_count']

lgbt = pd.read_csv('data/LGBT_night_time_venues.csv')
lgbt_count = lgbt['ward_2018_code'].value_counts().reset_index()
lgbt_count.columns = ['ward', 'lgbt_count']

libraries = pd.read_csv('data/Libraries.csv')
library_count = libraries['ward_2018_code'].value_counts().reset_index()
library_count.columns = ['ward', 'library_count']

museums = pd.read_csv('data/Museums_and_public_galleries.csv')
museum_count = museums['ward_2018_code'].value_counts().reset_index()
museum_count.columns = ['ward', 'museum_count']

music = pd.read_csv('data/Music_venues_all.csv')
music_count = music['ward_2018_code'].value_counts().reset_index()
music_count.columns = ['ward', 'music_count']

outdoor = pd.read_csv('data/Outdoor_spaces_for_cultural_use.csv')
outdoor_count = outdoor['ward_2018_code'].value_counts().reset_index()
outdoor_count.columns = ['ward', 'outdoor_count']

pubs = pd.read_csv('data/Pubs.csv')
pub_count = pubs['ward_2018_code'].value_counts().reset_index()
pub_count.columns = ['ward', 'pub_count']

skate = pd.read_csv('data/Skate_Parks.csv')
skate_count = skate['ward_2018_code'].value_counts().reset_index()
skate_count.columns = ['ward', 'skate_count']

theatres = pd.read_csv('data/Theatres.csv')
theatre_count = theatres['ward_2018_code'].value_counts().reset_index()
theatre_count.columns = ['ward', 'theatre_count']

                              name                           borough_name  \
0                      Arts Depot                                  Barnet
1           Battersea Arts Centre                              Wandsworth
2        Bernie Grant Arts Centre                                Haringey
3                    Chats Palace                                 Hackney
4                        Dugdale                                  Enfield
5              Harrow Arts Centre                                  Harrow
6                              ICA                    City of Westminster
7           Irish Cultural Centre                  Hammersmith and Fulham
8                   Jacksons Lane                                Haringey
9                              JW3                                 Camden
10                 OSO Arts Centre                   Richmond upon Thames
11         Redbridge Drama Centre                               Redbridge
12                       Rich Mix                           Tower Hamlets
13              Riverside Studios                  Hammersmith and Fulham
14               Southbank Centre                                 Lambeth
15                  The Tabernacle                 Kensington and Chelsea
16                     The Albany                                Lewisham
17      The Arts Centre Houndslow                                Hounslow
18                   The Barbican   City and County of the City of London
19       The Landmark Arts Centre                    Richmond upon Thames
20  The Library at Willesdon Green                                  Brent
21           Watermans Arts Centre                               Hounslow
22                   Poplar Union                           Tower Hamlets
23        Streatham Space Project                                 Lambeth
24                Fairfield Halls                                 Croydon
25   Stratford Circus Arts Centre                                  Newham

                                              website borough_code  \
0                        https://www.artsdepot.co.uk/    E09000003
1                             https://www.bac.org.uk/    E09000032
2                https://www.berniegrantcentre.co.uk/    E09000014
3                            https://chatspalace.com/    E09000012
4                    https://www.dugdalecentre.co.uk/    E09000010
5                             https://harrowarts.com/    E09000015
6                          http://www.osoarts.org.uk/    E09000033
7                  https://irishculturalcentre.co.uk/    E09000013
8                    https://www.jacksonslane.org.uk/    E09000014
9                             https://www.jw3.org.uk/    E09000007
10                         http://www.osoarts.org.uk/    E09000027
11  https://redbridgedramacentre.co.uk/RedbridgeDr...    E09000026
12                        https://www.richmix.org.uk/    E09000030
13                https://www.riversidestudios.co.uk/    E09000013
14                 https://www.southbankcentre.co.uk/    E09000022
15                     https://www.tabernaclew11.com/    E09000020
16                      https://www.thealbany.org.uk/    E09000023
17               http://www.hounslowartscentre.co.uk/    E09000018
18                       https://www.barbican.org.uk/    E09000001
19                 http://www.landmarkartscentre.org/    E09000027
20  https://www.brent.gov.uk/your-council/the-libr...    E09000005
21                      https://www.watermans.org.uk/    E09000018
22                          https://poplarunion.com/     E09000030
23                                                NaN    E09000022
24                           https://fairfield.co.uk/    E09000008
25                      https://stratford-circus.com/    E09000025

                  address1             address2     address3  \
0              5 Nether St       North Finchley          NaN
1            Lavender Hill                  NaN          NaN
2   Town Hall Approach Rd       Tottenham Green          NaN
3    42-44 Brooksby's Walk                  NaN          NaN
4           39 London Road              Enfield          NaN
5        171 Uxbridge Road            Hatch End          NaN
6                 The Mall          St. James's          NaN
7             5 Black's Rd          Hammersmith          NaN
8          269A Archway Rd             Highgate          NaN
9      341-351 Finchley Rd                  NaN          NaN
10           49 Station Rd                  NaN          NaN
11            Churchfields      South Woodford           NaN
12  35-47 Bethnal Green Rd                  NaN          NaN
13             19 Crisp Rd          Hammersmith          NaN
14          Belvedere Road                  NaN          NaN
15         35 Powis Square  off Portobello Road          NaN
16             Douglas Way                  NaN          NaN
17             First Floor        Treaty Centre  High Street
18                 Silk St                  NaN          NaN
19   Landmark Arts Centre           Ferry Road    Teddington
20            95 High Road           Willesden           NaN
21              40 High St           Brentford           NaN
22             2 Cotall St               Poplar          NaN
23           Sternhold Ave                  NaN          NaN
24                 Park Ln                  NaN          NaN
25          Theatre Square                  NaN          NaN

    os_addressbase_uprn              ward_2018_name ward_2018_code  longitude  \
0             200196017               West Finchley      E05000061  -0.176700
1             121015942                 Shaftesbury      E05000623  -0.160814
2           10003985252             Tottenham Green      E05000280  -0.073076
3          100023020798                 King's Park      E05009379  -0.042683
4             207007119                      Grange      E05000200  -0.081118
5          200000319916                   Hatch End      E05000291  -0.363803
6           10033601867                 St. James's      E05000644  -0.130148
7              34156699        Hammersmith Broadway      E05000256  -0.225585
8          100023196841                    Highgate      E05000272  -0.145404
9               5063874              West Hampstead      E05000145  -0.184819
10         200002811148  Mortlake and Barnes Common      E05000525  -0.246626
11         100022987836                Churchfields      E05011238   0.022660
12              6150258                     Weavers      E05009335  -0.073275
13             34157767        Hammersmith Broadway      E05000256  -0.228255
14         200000480101                    Bishop's      E05000416  -0.116800
15            217070132                    Colville      E05009392  -0.201881
16         100023569348                   New Cross      E05000449  -0.027409
17          10091692850            Hounslow Central      E05000358  -0.363025
18         200000072615                 Cripplegate      E05009302  -0.094103
19          10024344794                  Teddington      E05000530  -0.324627
20            202149110             Willesden Green      E05000105  -0.228922
21         100023407377                   Brentford      E05000347  -0.298042
22              6194894                    Lansbury      E05009325  -0.022983
23          10093376788              Streatham Hill      E05000430  -0.127655
24         100022917675                   Fairfield      E05011468  -0.095778
25          10008996899      Stratford and New Town      E05000492   0.001744

     latitude        easting       northing     runtime
0   51.612816  526119.802408  192122.615357  11/27/2022
1   51.465163  527632.180881  175734.049826  11/27/2022
2   51.587475  533366.644110  189489.184290  11/27/2022
3   51.550264  535582.402990  185408.019413  11/27/2022
4   51.650318  532626.255040  196461.371427  11/27/2022
5   51.608489  513179.302693  191334.817592  11/27/2022
6   51.506710  529643.663226  180407.136333  11/27/2022
7   51.492313  523061.035613  178641.570480  11/27/2022
8   51.576681  528387.977569  188159.603513  11/27/2022
9   51.550940  525728.603837  185229.182502  11/27/2022
10  51.472301  521654.046727  176381.361879  11/27/2022
11  51.598453  539963.126887  190888.736179  11/27/2022
12  51.524359  533537.848753  182471.723561  11/27/2022
13  51.488909  522884.842927  178258.589429  11/27/2022
14  51.505768  530572.457992  180326.162499  11/27/2022
15  51.516968  524638.782098  181422.889007  11/27/2022
16  51.477877  536857.999972  177388.663954  11/27/2022
17  51.468134  513582.343910  175730.816397  11/27/2022
18  51.519961  532106.142119  181944.876332  11/27/2022
19  51.428087  516350.585418  171338.755264  11/27/2022
20  51.546650  522683.287380  184677.260153  11/27/2022
21  51.485768  518049.178450  177794.407941  11/27/2022
22  51.515600  537052.076038  181590.911568  11/27/2022
23  51.438785  530009.820051  172859.723636  11/27/2022
24  51.372524  532416.148263  165550.228723  11/27/2022
25  51.542717  538684.710456  184652.345457  11/27/2022

In [46]:
pub_count[pub_count['ward'] == 'E05000029']

          ward  pub_count
237  E05000029          5

In [58]:
london = gpd.read_file('shapefiles/London-wards-2018_ESRI/London_Ward.shp')
london.set_index('GSS_CODE')
# print(london[london['GSS_CODE'] == 'E05000029'])
london = london.merge(arts_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(cinemas_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(gallery_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(comm_centre_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(dance_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(lgbt_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(library_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(museum_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(music_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(outdoor_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(pub_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(skate_count, left_on='GSS_CODE', right_on='ward', how='left')
london = london.merge(theatre_count, left_on='GSS_CODE', right_on='ward', how='left')

london = london[['GSS_CODE', 'arts_count', 'cinema_count', 'gallery_count', 'comm_center_count', 
    'dance_count', 'lgbt_count', 'library_count', 'museum_count', 
    'music_count', 'outdoor_count', 'pub_count', 'skate_count', 'theatre_count']]
london = london.fillna(0)
london['total_count'] = london['arts_count'] + london['cinema_count'] + london['gallery_count'] + london['comm_center_count'] + london['dance_count'] + london['lgbt_count'] + london['library_count'] + london['museum_count'] + london['music_count'] + london['outdoor_count'] + london['pub_count'] + london['skate_count'] + london['theatre_count']
cultural_facilities = london

C:\Users\muize\AppData\Roaming\Python\Python310\site-packages\geopandas\geodataframe.py:1499: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ward_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = DataFrame.merge(self, *args, **kwargs)
C:\Users\muize\AppData\Roaming\Python\Python310\site-packages\geopandas\geodataframe.py:1499: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ward_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = DataFrame.merge(self, *args, **kwargs)
C:\Users\muize\AppData\Roaming\Python\Python310\site-packages\geopandas\geodataframe.py:1499: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ward_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = DataFrame.merge(self, *args, **kwargs)
C:\Users\muize\AppData\Roaming\Python\Python310\site-packages\geopandas\geodataframe.py:1499: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ward_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = DataFrame.merge(self, *args, **kwargs)
C:\Users\muize\AppData\Roaming\Python\Python310\site-packages\geopandas\geodataframe.py:1499: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ward_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = DataFrame.merge(self, *args, **kwargs)

In [54]:
cultural_facilities.shape

(25, 15)

In [59]:
london[london['GSS_CODE'] == 'E05000029']

,GSS_CODE,arts_count,cinema_count,gallery_count,comm_center_count,dance_count,lgbt_count,library_count,museum_count,music_count,outdoor_count,pub_count,skate_count,theatre_count,total_count
630,E05000029,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,7.0

In [60]:
london_prescriptions_2014_ward_confounders_facilities = london_prescriptions_2014_ward_confounders.merge(cultural_facilities, how='left', left_on='osward', right_on='GSS_CODE')

In [61]:
london_prescriptions_2015_ward_confounders_facilities = london_prescriptions_2015_ward_confounders.merge(cultural_facilities, how='left', left_on='osward', right_on='GSS_CODE')

In [62]:
london_prescriptions_2016_ward_confounders_facilities = london_prescriptions_2016_ward_confounders.merge(cultural_facilities, how='left', left_on='osward', right_on='GSS_CODE')

In [63]:
london_prescriptions_2014_ward_confounders_facilities

,Unnamed: 0,YEAR_MONTH,REGIONAL_OFFICE_NAME,REGIONAL_OFFICE_CODE,AREA_TEAM_NAME,AREA_TEAM_CODE,PCO_NAME,PCO_CODE,PRACTICE_NAME,PRACTICE_CODE,...,dance_count,lgbt_count,library_count,museum_count,music_count,outdoor_count,pub_count,skate_count,theatre_count,total_count
0,86410,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,2.0,0.0,1.0,3.0,1.0,0.0,19.0,0.0,5.0,43.0
1,86411,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,ROSSLYN HILL SURGERY,F83682,...,0.0,1.0,1.0,4.0,2.0,0.0,11.0,0.0,0.0,24.0
2,86412,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,2.0,0.0,1.0,3.0,1.0,0.0,19.0,0.0,5.0,43.0
3,86413,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,2.0,0.0,1.0,3.0,1.0,0.0,19.0,0.0,5.0,43.0
4,86414,201404,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CAMDEN CCG,07R00,SOMERS TOWN MEDICAL CENTRE,F83683,...,2.0,0.0,1.0,3.0,1.0,0.0,19.0,0.0,5.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256003,18737382,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,LOWER CLAPTON GROUP PRACTICE,F84003,...,0.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,1.0,23.0
1256004,18737383,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,MEDIAN ROAD RESOURCE CENTRE,Y03626,...,0.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,1.0,23.0
1256005,18737384,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,MEDIAN ROAD RESOURCE CENTRE,Y03626,...,0.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,1.0,23.0
1256006,18737385,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,MEDIAN ROAD RESOURCE CENTRE,Y03626,...,0.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,1.0,23.0
1256007,18737386,201409,LONDON,Y56,NORTH EAST LONDON AREA,Q61,CITY AND HACKNEY CCG,07T00,LOWER CLAPTON GROUP PRACTICE,F84003,...,0.0,0.0,0.0,1.0,3.0,0.0,8.0,0.0,1.0,23.0

In [64]:
grouped_mean = london_prescriptions_2014_ward_confounders_facilities.groupby(["osward"]).mean()
grouped_mean_no_nan = grouped_mean.fillna(0)

C:\Users\muize\AppData\Local\Temp\ipykernel_14196\988192682.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_mean = london_prescriptions_2014_ward_confounders_facilities.groupby(["osward"]).mean()

In [65]:
grouped_mean_no_nan

,Unnamed: 0,YEAR_MONTH,QUANTITY,ITEMS,TOTAL_QUANTITY,ADQUSAGE,NIC,ACTUAL_COST,"(Population and Age; Age structure (percentage) - 2013; Aged 0-15, Aged 0-15)","(Population and Age; Age structure (percentage) - 2013; Aged 16-64, Aged 16-64)",...,dance_count,lgbt_count,library_count,museum_count,music_count,outdoor_count,pub_count,skate_count,theatre_count,total_count
osward,,,,,,,,,,,,,,,,,,,,,
E05000026,7.727945e+06,201406.655172,43.708433,3.021509,101.766132,91.506387,13.057924,12.226234,25.274725,69.963370,...,1.0,0.0,1.0,0.0,2.0,0.0,6.0,0.0,1.0,13.0
E05000027,6.645246e+06,201406.630072,41.914081,3.239857,101.464200,92.343497,16.245322,15.194730,25.961538,63.461538,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
E05000028,7.896718e+06,201406.568876,45.090643,4.640351,153.201105,132.125357,20.418249,19.141092,24.896266,66.390041,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
E05000029,6.364380e+06,201406.578567,55.801849,3.504333,154.858463,126.862331,20.715254,19.370853,24.137931,60.591133,...,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,7.0
E05000030,5.194619e+06,201406.500748,46.249377,3.611970,127.256359,106.056347,13.366788,12.520916,20.283019,65.094340,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E05011485,9.617680e+06,201406.515789,52.022556,2.768421,108.809023,96.274712,13.439707,12.576244,0.000000,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,8.0,1.0,1.0,11.0
E05011486,9.830028e+06,201406.496355,44.844853,4.183144,137.571887,110.444760,16.196445,15.228017,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0
E05011487,9.164363e+06,201406.522377,58.898148,4.870370,194.138889,159.914686,19.161644,17.977736,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,4.0
E05011488,1.008472e+07,201406.507720,47.495189,4.076527,137.937570,108.462913,13.499382,12.718264,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0
E05011489,9.586646e+06,201406.447877,51.629232,4.583557,168.022031,143.510754,19.669457,18.463692,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0

In [67]:
grouped_mean_no_nan.columns

Index([                                                                                   'Unnamed: 0',
                                                                                          'YEAR_MONTH',
                                                                                            'QUANTITY',
                                                                                               'ITEMS',
                                                                                      'TOTAL_QUANTITY',
                                                                                            'ADQUSAGE',
                                                                                                 'NIC',
                                                                                         'ACTUAL_COST',
                     ('Population and Age; Age structure (percentage) - 2013; Aged 0-15', 'Aged 0-15'),
                   ('Population and Age; Age structure (percentage) - 2013; Aged 16-64', 'Aged 16-64'),
                       ('Population and Age; Age structure (percentage) - 2013; Aged 65+', 'Aged 65+'),
                                 ('Workplace employment; Number of Full-time employees; 2013', '2013'),
                                 ('Workplace employment; Number of Part-time employees; 2013', '2013'),
                         ('Access to green space and nature; % area that is greenspace; 2014', '2014'),
       ('Access to green space and nature; % homes with deficiency in access to nature; 2012', '2012'),
                            ('Benefits claimants; DWP Working-age client group (rates); 2014', '2014'),
                      ('Benefits claimants; Employment and support allowance claimants; 2014', '2014'),
                                           ('Benefits claimants; Housing Benefit rates; 2014', '2014'),
                                        ('Benefits claimants; Income Support Claimants; 2014', '2014'),
                                    ('Benefits claimants; Incapacity Benefit Claimants; 2014', '2014'),
                                             ('Jobseekers Allowance; JSA Claimant Rate; 2014', '2014'),
                                                                                          'arts_count',
                                                                                        'cinema_count',
                                                                                       'gallery_count',
                                                                                   'comm_center_count',
                                                                                         'dance_count',
                                                                                          'lgbt_count',
                                                                                       'library_count',
                                                                                        'museum_count',
                                                                                         'music_count',
                                                                                       'outdoor_count',
                                                                                           'pub_count',
                                                                                         'skate_count',
                                                                                       'theatre_count',
                                                                                         'total_count'],
      dtype='object')

In [80]:
full_dataset_confounders = grouped_mean_no_nan.drop(['Unnamed: 0', 'YEAR_MONTH', 'QUANTITY', 'ITEMS', 'ADQUSAGE', 'NIC', 'ACTUAL_COST'], axis=1)

In [90]:
full_dataset_confounders.to_csv('full_dataset_confounders.csv')